.image{
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
  }

  .letters{
      font-size: 30px;
  }

  .score{
      text-align: center;
      /* margin: 10px; */
  }

  .letters{
    text-align: center;
    /* margin: 10px; */
}
h1{
    text-align: center;
    /* margin: 10px; */
}